* {
  border: none;
  border-radius: 0;
  background: none;
  min-height: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(212, 212, 212, 1);
}

/* HYPRLAND WORKSPACES */
#workspaces {
  background-image: linear-gradient(135deg, transparent, transparent);
}

#workspaces button {
  transition: all 0.15s;
  background-image: linear-gradient(
    135deg,
    rgba(212, 212, 212, 0.7),
    rgba(212, 212, 212, 0.7)
  );
  font-size: 0px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 0px;
  margin: 4px;
}

#workspaces button.active {
  background-image: linear-gradient(
    135deg,
    rgba(128, 0, 255, 1),
    rgba(0, 128, 255, 1)
  );
  padding: 0px 8px;
}

#workspaces button:hover {
  border: 1px solid rgba(212, 212, 212, 1);
  background-color: rgba(0, 128, 255, 1);
  color: rgba(212, 212, 212, 1);
  box-shadow: none;
  text-shadow: none;
}

/* CPU, Disk, and Memory */
#cpu {
  transition: all 0.3s;
  margin: 0 4px;
}

#cpu.zero {
  color: rgba(0, 128, 255, 1);
}

#cpu.low {
  color: rgba(128, 0, 255, 1);
}

#cpu.medium {
  color: rgba(255, 0, 255, 1);
}

#cpu.high {
  color: rgba(255, 0, 128, 1);
}

#disk {
  margin: 0 4px;
  color: rgba(0, 128, 255, 1);
}

#memory {
  transition: all 0.3s;
  margin: 0 4px;
}

#memory.zero {
  color: rgba(0, 128, 255, 1);
}

#memory.low {
  color: rgba(128, 0, 255, 1);
}

#memory.medium {
  color: rgba(255, 0, 255, 1);
}

#memory.high {
  color: rgba(255, 0, 128, 1);
}

/* BLUETOOTH AND NETWORK */
#bluetooth {
  margin: 0 4px;
  color: rgba(0, 128, 255, 1);
}

#network {
  margin: 0 4px;
  color: rgba(0, 128, 255, 1);
}

/* WIREPLUMBER */
#wireplumber {
  transition: all 0.3s;
  margin: 0 4px;
  color: rgba(0, 128, 255, 1);
}

#wireplumber.muted {
  color: rgba(72, 72, 72, 1);
}

/* BATTERY */
@keyframes critical {
  0% {
    color: rgba(255, 0, 0, 1);
  }
  100% {
    color: rgba(0, 0, 0, 1);
  }
}

#battery {
  transition: all 0.3s;
  margin: 0 4px;
}

#battery.full {
  color: rgba(0, 255, 0, 1);
}

#battery.high {
  color: rgba(255, 255, 0, 1);
}

#battery.warning {
  color: rgba(255, 128, 0, 1);
}

#battery.low {
  color: rgba(255, 0, 0, 1);
}

#battery.critical {
  animation: 2s critical steps(2, start) infinite;
}

/* POWER */
#custom-power {
  margin: 0 4px;
  color: rgba(255, 0, 0, 1);
}
